<h1>Lost Pets:</h1>

Total: <b><%= Record.count %></b>
<br>
Daily Mean since last week: <b><%= records_mean %></b>
<%= content_tag :div, "", id: "records_chart", data: {records: records_chart_data("Santa Cruz")} %>
<br>
<%= content_tag :div, "", id: "records_chart2", data: {records: records_chart_data("North Bay")} %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><b><%= record.date %></b></td>
        <td><%= record.title %></td>
        <td><b>(<%= record.location %>)</b></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Record', new_record_path %>
<br>
<%= will_paginate @records %>
